*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

.slider{
    height: 100vh;
    background-color: black;
    position: relative;
    background-image: url("https://picsum.photos/1080/1920");
    background-size: cover;
}

@media (min-width:600px) {
    .slider{
        background-image: url("https://picsum.photos/1920/1080");
    }
}

.btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 3rem;
    background-color: rgb(27, 27, 28);
    opacity: .3;
    cursor: pointer;
    padding: .5em;
    top: 50%;
    border-radius: 2px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: opacity .5s ease;
}

.btn:hover{
    opacity: 1;
}

.left-btn{
left: 1%;
}

.right-btn{
    right: 1%;
}